/*NavBar Style */
.navbar.navbar-primary {
    background-color: #279fb8;
    color: #fff;
}



.navbar-brand{
  color:#fff;
  font-size: 20px;
}


@media(min-width: 320px){
   .navbar-brand{
    color:#fff;
    font-size: 15px;
    } 
}

.navbar-brand:hover , .navbar-brand:active , .navbar-brand:focus{
  color:#fff;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #279fb8;
    text-decoration: none;
}

a:focus {
    color: #279fb8;
    text-decoration: none;
}

.active {
    border-bottom:2px solid #279fb8;
}

.navbar-primary .navbar-toggle .icon-bar {
    background-color: #fff;

}

.navbar-primary .navbar-toggle:hover .icon-bar {
    background-color: #fff;

}
.navbar-primary .navbar-toggle:focus .icon-bar {
    background-color: #fff;

}
.navbar-primary .navbar-toggle:active .icon-bar {
    background-color: #fff;

}



/*<panel>*/
.panel{
    border: 0px solid transparent;
    background-color: #fff;
}


/*<button>*/
.btn-primary{
    background-color:inherit;
    border: none;
    color: #000;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn-primary:hover, .btn-primary:focus{
    background-color: inherit;
    color: #279fb8;
    text-decoration: none;
}

h1{
    color: #279fb8;
}

.padding-left-20px{
    padding-left: 20px;
}

.padding-left-25px{
    padding-left: 25px;
}

.txt-black{
    color:#000;
}

.map{
    margin-bottom:26 px;
}
/*define all colors class here */

.color-white{
  color:#fff;
}

/*end of color class*/

html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background: #fff;
}


/*<parallax>*/
.parallax-effect {
    
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.parallax-effect li{
    display: block;
    height: 50px; 
    text-align: left;
    color: #279fb8;
}
.resrv-icone-bdr {
    width: 80px;
    height: 80px;
    border: 1px solid #fff;
    border-radius: 42px;
    margin: 0 auto;
}

.parallax-effect .btn-primary{
    background-color:#000;
    border: none;
    color:#fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
.parallax-effect .btn-primary:hover, .btn-primary:focus{
    background-color: inherit;
    color: #279fb8;
    text-decoration: none;
}

.parallax-effect1 {
    
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.parallax-effect1 li{

    display: block;
    height: 50px; 
    text-align: left;
    color: #fff;
}
.resrv-icone-bdr1 {
    width: 80px;
    height: 80px;
    border: 1px solid #fff;
    border-radius: 42px;
    margin: 0 auto;
}

.parallax-effect1 .btn-primary{
    background-color:inherit;
    border: none;
    color: #fff;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
}
.parallax-effect1 .btn-primary:hover, .btn-primary:focus{
    background-color: inherit;
    color: #279fb8;
    text-decoration: none;
}

/*<footer>*/

footer li a{
    color: #fff;
    text-decoration: none;
    margin-left:10px;
}
footer li a:hover{
    color: #279fb8;
    background-color:#fff;
    text-decoration: none;
    margin-left:10px;
}
footer li a:focus{
    color: #fff;
    background-color:#279fb8;
    text-decoration: none;
    margin-left:10px;
}


footer hr{
    color: #fff;
    margin-top:0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}