<div class="container-fluid" style="padding-bottom:70px;">
	<div class="row">
		<div class="col-md-10 col-md-offset-1" style="margin-top:20px;">
			<h1 class="text-center">About Us</h1>
			<hr style="width:250px;">
				<div class="panel panel-primary" style="padding:10px;">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<p class="text-justify" style="font-size:16px;">
								From the founder of HariBhog Restaurant, Ex-partner of Kalra Sweets.
							</p>
							<p class="text-justify" style="font-size:16px;">
								MEZBAAN CATERERS, where people in the know go when they want the most trend setting of menu selections and event services for their guests. No event is too big or too small. They’re all special to us. Whether an informal business meeting, a small gathering of family and friends, your wedding day or a gala event for community members and associates, the MEZBAAN CATERERS is there providing an exceptional level of service and superb menu selections, bringing you current and innovative catering services.
							</p>

														
						</div>
						<div class="col-md-6">
							<img src="images/about/about.jpg" class="img-responsive img-rounded" style="max-height:250px; width:100%; "> 	
						</div>
					</div>
					<div class="row">
						<div class="col-md-4" style="padding-top:30px;">
							<img src="images/about/about1.jpg" class="img-responsive img-rounded" style="max-height:350px; width:100%; ">
						</div>
						<div class="col-md-8" style="padding-top:20px;">
							<p class="text-justify" style="font-size:16px;">
								You might select an item from our vast menu or allow our highly trained event planners to design a custom menu featuring an eclectic variety of selections for your special event. In either case, know that The MEZBAAN CATERERS will attend to every detail, making your event bold, anxiety free and unforgettable.
							</p>
							<p class="text-justify" style="font-size:16px;">
								Under the masterful direction of Lala Krishan Lal Gupta(Father), our team creates all of our menu selections using fresh, local and whenever possible sustainable ingredients. No matter the selections, all are created with an emphasis on stunning presentation, culinary creativity and incredible taste.
							</p>
							<p class="text-justify" style="font-size:16px;">	

								An outstanding menu, offering a distinctive variety of selections, combined with unique personalized service and fantastic attention to detail combine to make The MEZBAAN CATERERS Grand Rapids premier catering service.

								<h4>Special Catering Arrangement by BTW, Delhi</h4>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>