<div class="container-fluid" style="padding-bottom:70px;">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1 class="text-center">Contact Us</h1>
			<hr style="width:250px;">
			<div class="panel panel-primary" style="padding:10px;">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-body">
									<legend style="font-size:25px;">Find Us</legend>
									<a href="https://www.google.co.in/maps/place/Sector+13+Extension,+Sector+13,+Karnal,+Haryana+132001/@29.6913428,76.9940543,17z/data=!3m1!4b1!4m5!3m4!1s0x390e701b0f2708d1:0x8a2cf20754289711!8m2!3d29.6909796!4d76.9967071" target="_BLANK">
									<img src="images/sector6map.jpg" class="img-responsive map" style="width:100%;">
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-body">
									<legend style="font-size:25px;">Get in Touch</legend>
									<h4>MEZBAAN CATERERS</h4>
									<p style="font-size:16px;">H. No. 156, Sector-13 Ext.,</p>
									<p style="font-size:16px;">Karnal, Haryana, India 132001</p>
									<p style="font-size:16px;"><i class="fa fa-mobile">&nbsp;+(91)-98138-99999</i></p>
									<p style="font-size:16px;"><i class="fa fa-mobile">&nbsp;	+(91)-92554-94000</i></p>
									<p style="font-size:16px;"><i class="fa fa-envelope">&nbsp;sarin891@gmail.com</i></p>
									<p style="font-size:16px;"><i class="fa fa-envelope">&nbsp;vikasgupta0009@yahoo.com</i></p>
										
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
			
		</div>
	</div>
</div>