<footer>
	<div class="container-fluid" style="background-color:#279fb8;color:#fff;">
		<div class="row" style="padding-top:20px;">
			<div class="col-md-12">
				<ul class="list-inline text-center" style="font-size:16px;cursor:pointer;">
					<li><a ui-sref="app.home">HOME</a></li>&nbsp;
					<li><a ui-sref="app.about">ABOUT</a></li>&nbsp;
					<li><a ui-sref="app.menu">MENU</a></li>&nbsp;
					<li><a ui-sref="app.gallery">GALLERY</a></li>&nbsp;
					<li><a ui-sref="app.contact">CONTACT</a></li>
				</ul>
				<hr>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">	
				<h4>GET IN TOUCH</h4>
				<p style="font-size:16px;">
					H. No. 156, Sector-13 Ext., Karnal, Haryana, India (132001)
				</p>	
				<p>
					<i class="fa fa-mobile">&nbsp;+(91)-98138-99999, +(91)-92554-94000</i>
				</p>
			</div>
			<div class="col-md-8 col-md-offset-2 text-center" >
				<h4>Mail Us</h4>
				<div class="col-md-4 col-md-offset-1">
					<i class="fa fa-envelope">&nbsp;sarin891@gmail.com</i>	
				</div>
				<div class="col-md-4 col-md-offset-1">
					<i class="fa fa-envelope">&nbsp;vikasgupta0009@yahoo.com</i>	
				</div>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				
				<p class="text-center" style="font-size:16px;margin-bottom:10px;">
					Powered by:<a href="http://www.technetium.in" style="color:#fff;">Technetium</a> 
				</p>
				
			</div>
		</div>
	</div>
	
</footer>

