<!-- <gallery-home> -->
<section id="gallery-home">
	<div class="container-fluid">
		<div class="row"> 
			<div class="col-md-12"> 
				<h1 style="color: #279fb8;margin-bottom:30px;" align="center">Gallery</h1>
				<hr style="width:250px;">
			</div> 
			<div class="panel panel-default" style="background-color:#c8f0f9;">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3" style="margin-bottom:25px;"> 
							<img src="images/gallery/mezbaan5.jpg" class="img-responsive img-rounded" style="height:250px; width:100%;"> 
						</div>
						<div class="col-md-3" style="margin-bottom:25px;"> 
							<img src="images/gallery/mezbaan6.jpg" class="img-responsive img-rounded" style="height:250px; width:100%;"> 
						</div>
						<div class="col-md-3" style="margin-bottom:25px;"> 
							<img src="images/gallery/mezbaan7.jpg" class="img-responsive img-rounded" style="height:250px; width:100%;"> 
						</div>
						<div class="col-md-3" style="margin-bottom:25px;"> 
							<img src="images/gallery/mezbaan8.jpg" class="img-responsive img-rounded" style="height:250px; width:100%;"> 
						</div>
						<div class="col-md-4" style="margin-bottom:25px;"> 
							<img src="images/gallery/mezbaan9.jpg" class="img-responsive img-rounded"  style="height:270px; width:100%;"> 
						</div>
						<div class="col-md-4" style="margin-bottom:25px;"> 
							<img src="images/gallery/mezbaan10.jpg" class="img-responsive img-rounded" style="height:270px; width:100%;" > 
						</div>
						<div class="col-md-4" style="margin-bottom:25px;"> 
							<img src="images/gallery/mezbaan11.jpg" class="img-responsive img-rounded" style="height:270px; width:100%;"> 
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<button class="btn btn-primary" ui-sref="app.gallery" style="margin-left:100px;">view more...</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>