<div class="container-fluid" style="padding-bottom:70px;">
	<div class="row">
		<div class="col-md-12" style="margin-top:0px;">
			<h1 class="text-center">Gallery</h1>
			<hr style="width:250px;">
			<ng-swipebox photos="photos"></ng-swipebox>	
			
		</div>
	</div>
</div>