<data-owl-carousel class="owl-carousel" data-options="{navigation: false,pagination: false, rewindNav: true,items:1,autoPlay:3000,lazyLoad:true,itemsDesktop:[1000,1],itemsDesktopSmall:[900,1],itemsTablet: [600,1]}"> 
		<div owl-carousel-item="" ng-repeat="item in slides" class="item">
			<img src="{{::item.image}}" class="img-responsive" style="width:100%;max-height:550px;">
			
		</div>

</data-owl-carousel>