<!-- <corousel> -->
<section class="corousel">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12" style="padding-left:0px;padding-right:0px;">
				<div ng-include="'views/homebanner.html'"
						ng-controller="HomeBannerCtrl">
				</div>
			</div>
		</div>	
	</div>	
	
</section>



<!-- parallax about -->
<section class="parallax-effect" style="background-image: url(images/reservation.jpg);">

	<div class="container-fluid">
		<div class="row">
			
			<div class="col-md-6 col-md-offset-3" style="color:#fff;">
				<center>
				<h1 style="margin-top:35px;">Contact us for :-</h1>
				<p class="text-center" style="font-size:20px; margin-top:25px;">
					Wedding, Pre Wedding Function, Anniversary Function, Corporate Functions, 
					Conferences, Birthday Parties, Greh Pravesh & All get Toghethers...
				</p>
				</center>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-1 text-center" style="margin-top:25px;">
				<button class="btn btn-primary" ui-sref="app.about">know more about us...
				</button>
			</div>
			<div class="col-md-4 col-md-offset-1 text-center" style="margin-top:25px;">
				<button class="btn btn-primary" ui-sref="app.contact">contact us here...
				</button>
			</div>
		</div>
	</div>
</section>


<!-- <menuindex> -->
<div ng-include="'views/menuindex.html'"></div>


<!-- <gallery-home> -->
<div ng-include="'views/gallery-home.html'"></div>