<div class="container" style="margin-top:40px;">
	<div class="row" style="margin-bottom:40px;">
		<div class="col-md-12">
			<h1 class="text-center">
				Menu
			</h1>
		</div>
	</div>
	<div class="row">
		
		<!-- repeat this -->
		<div class="col-md-12" ng-repeat="item in menus track by $index">
			<!-- <div class="row">
				<div class="col-md-12"> -->
					<div class="panel-group">
					 	<div class="panel panel-default">
					    	<div class="panel-heading">
					      		<h3 class="panel-title">
					        		<a data-toggle="collapse" href=".{{item.cid+'_'+item.cid}}">{{item.cname}} <!-- {{item.cid+'_'+item.cid}} --></a>
					      		</h3>
					    	</div>
					    	<!-- this should open as child view -->
					    	<div id="collapse2" class="panel-collapse collapse  {{item.cid+'_'+item.cid}}">
					      		<ul class="list-group">
					   				
					        		<!-- repeat this -->
					        		<li class="list-group-item" ng-repeat="item in menus[$index]['items'] track by $index"><!-- {{$index}} -->
					        			<h4><a class="txt-black padding-left-20px" data-toggle="collapse" href=".{{item.itemId+'_'+item.itemId}}">{{item.itemName}} 

		        							<span class="badge">
		        								{{menus[$parent.$index]['items'][$index]['subItems'].length + ' items'}}
		        							</span>
					        				
					        			<!-- {{item.itemId+'_'+item.itemId}} -->
					        			</a></h4>

					        			<!-- this should open as child view -->
					        			<div class="panel-collapse collapse {{item.itemId+'_'+item.itemId}}">
											<div class="row">

												<div class="col-md-12">
													<ul class="list-group padding-left-25px">
												        <!-- repeat this -->
												        <li 
												        	class="list-group-item" 
												        	ng-repeat="subItem in menus[$parent.$index]['items'][$index]['subItems'] track by $index">

												        	{{subItem.subItemName}}</li>

												    </ul>	
												</div>
											</div>
											
										</div>
					        		</li>


					        		
					        		
					      		</ul>
					    	</div>
					  	</div>
					</div>		
				<!-- </div>
			</div> -->
			
		</div>
		
	</div>
</div>


