<div class="container-fluid" style="padding-bottom:1px;">
	<div class="row">
		<div class="col-md-12" style="margin-top:10px;">
			<h1 class="text-center">Menu</h1>
			<hr style="width:250px;">
			<div class="row">
				<div class="col-md-6 parallax-effect1" style="background-image: url(images/menu1/beverage.jpg); padding-bottom:10px;">
					<div class="col-md-6 col-md-offset-3">
						<button class="btn btn-primary" ui-sref="app.menu" style="padding-top:70px;">1) BEVERAGES</button>
						<ul type="none" style="font-size:20px; ">
							<li>Mocktails</li>
							<li>Shakes & Juices</li>
							<li>Soft Drinks</li>
							<li>Water/ Soda</li>
							<li>Coffee</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 parallax-effect1" style="background-image: url(images/menu1/salad.jpg); padding-bottom:10px;">
					<div class="col-md-6 col-md-offset-3">
						<button class="btn btn-primary" ui-sref="app.menu" style="padding-top:70px;">5) SALAD BAR</button>
						<ul type="none" style="font-size:22px; ">
							<li>Soup</li>
							<li>Salad</li>
							<li>Papad and Achaar</li>
							<li>Yogurt</li>
						</ul>
					</div>
				</div>
			</div>
			

			<div class="row">
				<div class="col-md-6 parallax-effect1" style="background-image: url(images/menu1/paneer.jpg); padding-bottom:10px;">
					<div class="col-md-6 col-md-offset-3">
						<button class="btn btn-primary" ui-sref="app.menu" style="padding-top:70px;">2) WELCOME SNACKS</button>
						<ul type="none" style="font-size:22px; ">
							<li>Paneer Snacks</li>
							<li>Indian Snacks</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 parallax-effect1" style="background-image: url(images/menu1/main-course.jpg); padding-bottom:10px;">
					<div class="col-md-6 col-md-offset-3">
						<button class="btn btn-primary" ui-sref="app.menu" style="padding-top:70px;">6) MAIN COURSE</button>
						<ul type="none" style="font-size:22px; ">
							<li>Indian</li>
							<li>Chinese</li>
							<li>Rice & Pulao</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 parallax-effect1" style="background-image: url(images/menu1/chaat.jpg); padding-bottom:10px;">
					<div class="col-md-6 col-md-offset-3">
						<button class="btn btn-primary" ui-sref="app.menu" style="padding-top:70px;">3) CHAT STALL</button>
						<ul type="none" style="font-size:22px;">
							<li>Chat</li>
							<li>South Indian & Continental</li>
							<li>Italian</li>	
						</ul>
					</div>
				</div>
				<div class="col-md-6 parallax-effect1" style="background-image: url(images/menu1/rajasthani-thali.jpg); padding-bottom:10px;">
					<div class="col-md-6 col-md-offset-3">
						<button class="btn btn-primary" ui-sref="app.menu" style="padding-top:70px;">7) MULTI CUISINE</button>
						<ul type="none" style="font-size:22px; ">
							<li>Rajasthani</li>
							<li>Amritsari</li>
							<li>Punjabi (Seasonal)</li>
							<li>Tandoor Se.......</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 parallax-effect1" style="background-image: url(images/menu1/fruits.jpg); padding-bottom:10px;">
					<div class="col-md-6 col-md-offset-3">
						<button class="btn btn-primary" ui-sref="app.menu" style="padding-top:70px;">4) FRUIT STALL</button>
						<ul type="none" style="font-size:22px; ">
							<li>Indian Fruits (Any-4)</li>
							<li>Imported Fruits (Any-4)</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 parallax-effect1" style="background-image: url(images/menu1/desserts.jpg); padding-bottom:10px;">
					<div class="col-md-6 col-md-offset-3">
						<button class="btn btn-primary" ui-sref="app.menu" style="padding-top:70px;">8) DESSERTS</button>
						<ul type="none" style="font-size:22px; ">
							<li>Sweet Dishes</li>
							<li>Ice Cream</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>