<div class="navbar navbar-primary navbar-fixed-top">
    <div class="container-fluid">
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
             <a class="navbar-brand" rel="home" href="#page-top" title="Mezbaan Caterers">
                <img style="margin-top: -7px; height:40px; max-width:100%;"
                src="images/navbanner.jpg" class="img-responsive img-rounded">
            </a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            
            <ul class="nav navbar-nav navbar-right" style="letter-spacing:1px;"> 
                
                <li ui-sref-active="active">
                    <a ui-sref="app.home" btn-auto-collapse>HOME</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.about" btn-auto-collapse>ABOUT</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.menu" btn-auto-collapse>MENU</a>
                </li>
                
                <li ui-sref-active="active">
                    <a ui-sref="app.gallery" btn-auto-collapse>GALLERY</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.contact" btn-auto-collapse>CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top:55px; padding:0px;">
    
</div>

<div ui-view style="margin-top:0px;"></div>

<div ng-include="'views/footer.html'"></div>